<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>

<div class="animate__animated animate__fadeIn animate__faster">
    <ng-template #divPais>
        <div class="row">
            <div class="col-12">
                <h1>País: <small>{{ pais.name.official }}</small></h1>
            </div>
    
          <div class="col-4">
                <h3>Bandera</h3>
                <img [src]="pais.flags.png" class="img-thumbnail"/>
            </div>
    
            <div class="col">
                <h3>Información</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Población</strong>{{ pais.population | number }}
                    </li>
                    <li class="list-group-item">
                        <strong>Área</strong> {{ pais.area }}
                    </li>
                    <li class="list-group-item">
                        <strong>Código numérico</strong> {{ pais.ccn3 }}
                    </li>
                    <li class="list-group-item">
                        <strong>Región</strong> {{ pais.region }}
                    </li>
                    <li class="list-group-item">
                        <strong>Código alpha3</strong> {{ pais.altSpellings[0] }}
                    </li>
                </ul>
            </div>
        </div>
    
        <pre class="mt-5">
            {{ pais | json }}
        </pre>


</ng-template>
</div>